<div class="row">
    <select (change)="getSelectedLocation($event.target.value,$event.target.selectedIndex)">
         <option *ngFor="let cityData of city | async">{{cityData.CityName}}</option>
    </select>
    <select (change)="getSelectedLocationHomeView($event.target.value)">
        <option>All</option>
       <option *ngFor="let locations of location | async">{{locations}}</option>
    </select>
</div>

<home-collection class="row" [collection]="homeViewCollection"></home-collection>
<home-occassion class="row" [occassion]="homeViewOccassion" [occassionlength]="homeViewOccassion.length"></home-occassion>
<home-blogs class="row" [blog]="homeViewBlog"></home-blogs>