<h3 class="row">
    Occassion
</h3>
<div class="col-md-4" *ngFor="let occassions of occassion | slice:0:_occassionLength">
    <img class="col-md-12" src={{occassions.ImageUrl}}/>
    <span class="col-md-12 text-center">{{occassions.VenueCount}}</span>
    <h4 class="col-md-12 text-center">{{occassions.Name}}</h4>
</div>
<button class="col-md-4 more_occassion text-center" 
        *ngIf="occassion.length>10 && _occassionLength!==occassion.length" 
        [innerHTML]="occassion.length-_occassionLength + ' more occassion'" 
        (click)="loadMoreOccassion()">
</button>
<button class="col-md-4 more_occassion text-center" 
        *ngIf="_occassionLength===occassion.length && occassion.length!==10" 
        (click)="loadLessOccassion()">Less Occassion
</button>