<h3 class="row">
    Occassion
</h3>
<div class="col-md-4" *ngFor="let occassions of occassion | slice:0:_occassionLength">
    <img class="col-md-12" src={{occassions.ImageUrl}}/>
    <span class="col-md-12 text-center">{{occassions.VenueCount}}</span>
    <h4 class="col-md-12 text-center">{{occassions.Name}}</h4>
</div>
<button class="col-md-4 more_occassion text-center" *ngIf="occassionlength>0" [hidden]="occassionlength<11" (click)="_occassionlength=occassionlength">
    {{_occassionLength}} more occassion
</button>