<div class="row">
    <div class="col-md-4">
        <a class="col-md-12 text-center" routerLink="animation" routerLinkActive="active">Animation & Directives Tutorial</a>
        <a class="col-md-12 text-center" routerLink="forms" routerLinkActive="active">Forms Tutorial</a>
         <a class="col-md-12 text-center" routerLink="pipes" routerLinkActive="active">Pipes Tutorial</a>
        <a class="col-md-12 text-center" routerLink="/home">Demo Project</a>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>